body {
    margin: 0;
    background-color: #3c6e51;
    font-family: "Monaco", monospace;
    position: relative;
    min-height: 100vh;
}
a:link, a:visited {
    color: #42865e;
}
a:hover, a:active {
    color: #1a9e6f;
}
#title, #small-title {
    color: #0f100f;
    background-color: #0004;
    position: sticky;
    top: 0;
}
#title {
    font-size: 4em;
    padding: 1em 1em;
    margin-top: 0;
    margin-bottom: 0.75em;
    text-align: center;
}
#small-title {
    font-size: 2em;
    padding: 0.25em 1em;
    margin-top: 0;
    margin-bottom: 0.25em;
    text-align: left;
}
#front-query {
    margin: 5vh 30vw;
    padding: 0.5em;
    text-align: center;
}
#front-query, #search {
    text-align: center;
}
#front-query input#search-bar, #search input#search-bar {
    text-align: center;
    width: 90%;
}
#front-query input#search-button, #search input#search-button {
    width: 80%;
}
#front-query input {
    margin: 0.5em 0;
    font-size: 2em;
}
#search input {
    margin: 0.25em 0;
}
#main-body {
    margin: 0.5em;
}
#sidebar {
    width: 15em;
    float: left;
    min-height: 25em;
    background-color: #0004;
    padding: 1em;
    margin-right: 0.5em;
    border-radius: 0.5em;
}
#search-contents {
    display: flex;
    flex-wrap: wrap;
}
#search-contents > #item {
    margin: 0.5em;
    width: 15em;
    height: 15em;
    border-radius: 0.25em;
    color: #eee;
    background-color: #0004;
    border-color: #0000;
    border-width: 0.25em;
    border-style: solid;
}
#item {
    display: flex;
    align-items: center;
}
#item > p {
    text-align: center;
    width: 100%;
}
#item * {
    max-height:100%;
    max-width:100%;
    border-radius: 5em;
}
#item img {
    border-radius: 0.25em;
}
.imgbox {
    height: 100%;
    width: 100%;
}
.imgbox img {
    max-height: calc(100vh - 4.5em);
    max-width: calc(100vw - 18.5em);
    margin: auto;
}
