<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - Admin Login</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/common.js"></script>
<script>
$(async () => {
});
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
    <div class="admin-login">
        <h2>Admin:</h2>
        <h2>TBA</h2>
        <form action="/admin/logout" method="post">
            <input class="button" type="submit" value="Log Out">
        </form>
    </div>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
