<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - Admin Control Panel</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/common.js"></script>
<script>
function titleField(name) {
    return `<div class="info-field" field="${name}"><h3><span class="field-name">${name}</span></h3></div>`;
}
function infoField(name, value) {
    return `<div class="info-field" field="${name}"><h3><span class="field-name">${name}</span>: <span class="field-value">${value}</span></h3></div>`;
}
function textField(name, value, key) {
    key = key ? key : name;
    return `<div class="info-field" field="${name}"><h3><span class="field-name">${name}</span>: <input type="text" class="field-value" name="${key}" value="${value}"></h3></div>`;
}
function checkboxField(name, checked, key) {
    key = key ? key : name;
    return `<div class="info-field" field="${name}"><h3><span class="field-name">${name}</span>: <input type="checkbox" class="field-value" name="${key}" ${checked ? "checked" : ""}></h3></div>`;
}
function dropdownField(name, value, key, values) {
    key = key ? key : name;
    var field = $(`<div class="info-field" field="${name}"><h3><span class="field-name">${name}</span>:<select name="${key}">`);
    var select = field.find("select");
    for (const option of values)
    {
        select.append($(`<option value="${option}">${option}</option>`));
    }
    return field;
}
function fileField(name, key) {
    key = key ? key : name;
    return `<div class="info-field" field="${name}"><h3><span class="field-name">${name}</span>: </h3><input type="file" name="${key}"></div>`;
}
function submitButton(text = "Update") {
    return `<input type="submit" value="${text}">`
}
function configFormSubmit(form, event) {
    event.preventDefault();
    var fields = {};
    form.find("input").each((i, x) => {
        if (x.type === "text")
        {
            fields[x.name] = x.value;
        }
        else if (x.type === "checkbox")
        {
            fields[x.name] = x.checked;
        }
    });
    fetch(`/api/config/update`, {
        method:"POST",
        body: Object.keys(fields).map(key => `${key}=${fields[key]}`).join("\n")
    }).then(async response => {
        if (!response.ok)
        {
            return {error: await response.text()};
        }
        return await response.json();
    }).then(json => {
        if (json.error.length > 0)
        {
            console.error("API Error:\n" + json.error);
            return;
        }
        window.location.reload();
    }).catch(() => {});
}

$(async () => {
    fetch("/api/config")
        .then(response => response.json())
        .then(json => {
            if (json.error.length > 0)
            {
                $("#admin-main-body").append(`<b class="error">Failed to get server config: ${json.error}</b>`);
                return;
            }
            return json.config;
        })
        .then(config => {
            const server_software = $("#server-software");
            const server_owner = $("#server-owner form");
            server_software.append(infoField("Name", config.server.software.name));
            server_software.append(infoField("Version", config.server.software.version));
            server_software.append(infoField("Author", config.server.software.author));
            server_software.append(infoField("License", config.server.software.license));
            const license_field = server_software.find(".info-field[field=License] .field-value")
            license_field.html(`<a href="https://opensource.org/licenses/?ls=${config.server.software.license}">${license_field.html()}</a>`);
            server_software.append(titleField("Source"));
            const source_field = server_software.find(".info-field[field=Source] .field-name")
            source_field.html(`<a href="${config.server.software.source}">${source_field.html()}</a>`);
            server_owner.append(textField("Name", config.server.owner.name, "server.owner.name"));
            server_owner.append(textField("Email", config.server.owner.email, "server.owner.email"));
            server_owner.append(submitButton());
            server_owner.submit(event => configFormSubmit(server_owner, event));
            const gallery_config = $("form.gallery-config");
            gallery_config.append(textField("Name", config.gallery.name, "gallery.name"));
            gallery_config.append(checkboxField("Distribute Source Content", config.gallery.distribute_source, "gallery.distribute_source"));
            gallery_config.submit(event => configFormSubmit(server_owner, event));
            const api = $("#api form");
            api.find(".api-keys").append(textField("Key", config.api.key, "api.key"));
            const enabled_endpoints = api.find(".enabled-endpoints");
            function addEndpointDropdowns(key, value) {
                if (typeof(value) === "object")
                {
                    for (const subkey of Object.keys(value))
                    {
                        addEndpointDropdowns(`${key}.${subkey}`, value[subkey]);
                    }
                    return;
                }
                const endpoint = "/api/" + (key.endsWith("._") ? key.substring(0, key.length - 2) : key).replace(/./g, "/");
                enabled_endpoints.append(dropdownField(endpoint, value, key, ["any", "key", "admin"]));
            }
            addEndpointDropdowns("", config.api.enabled_endpoints);
            gallery_config.append(checkboxField("Distribute Source Content", config.gallery.distribute_source, "gallery.distribute_source"));
            gallery_config.submit(event => configFormSubmit(server_owner, event));
        });
    fetch("/api/gallery")
        .then(response => response.json())
        .then(json => {
            const gallery = $("#gallery .info");
            if (json.error.length > 0)
            {
                gallery.append(`<b class="error">Failed to get gallery info: ${json.error}</b>`);
                return;
            }
            gallery.append(infoField("Items", json.item_count));
            gallery.append(infoField("Tags", json.tag_count));
            gallery.append(infoField("Last Update", json.last_update));
        });
    const sql_form = $("#sql form");
    const sql_command = sql_form.find("textarea.command");
    const sql_response = sql_form.find("textarea.response");
    sql_form.submit(event => {
        event.preventDefault();
        fetch(`/api/sql`, {
            method:"POST",
            body: `q=${encodeURIComponent(sql_command.val())}`
        }).then(async response => {
            if (!response.ok)
            {
                return {error: await response.text()};
            }
            return await response.json();
        }).then(json => {
                if (json.error.length > 0)
                {
                    sql_response.text("API Error:\n" + json.error);
                    return;
                }
                sql_response.text(JSON.stringify(json.r, null, 2));
            })
            .catch(() => {});
    });
});
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="admin-main-body">
    <div class="admin-panel">
        <h2>Admin:</h2>
        <form class="logout" action="/admin/logout" method="post">
            <input class="button" type="submit" value="Log Out">
        </form>
    </div>
    <div class="admin-panel" id="server-software">
        <h2>Server Software:</h2>
    </div>
    <div class="admin-panel" id="server-owner">
        <h2>Server Owner:</h2>
        <form>
        </form>
    </div>
    <div class="admin-panel" id="api">
        <h2>API:</h2>
        <form>
            <div class="api-keys">
            </div>
            <div class="enabled-endpoints">
            </div>
            <input class="button" type="submit" value="Update">
        </form>
    </div>
    <div class="admin-panel" id="gallery">
        <h2>Gallery:</h2>
        <form class="gallery-config">
        </form>
        <div class="info"></div>
        <hr />
        <form action="/admin/upload_item" method="post" enctype="multipart/form-data">
            <div class="info-field" field="new-item">
                <h3>
                    <span class="field-name">Upload New Item</span>:
                    <input type="file" name="file" accept=".png,.webp,.jpg,.jpeg,.svg,.bmp,.ico,.tiff,">
                </h3>
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
    <!-- TODO
    <div class="admin-panel" id="logs">
        <div class="recent-logs">
            <h3>Recent Logs:</h3>
            <textarea readonly>NYI</textarea>
        </div>
        <hr />
        <div class="log-files">
            <h3>Log Files:</h3>
            <div class="file-list">
                <ul></ul>
            </div>
        </div>
    </div>
    -->
    <!-- TODO
    <div class="admin-panel" id="wifi">
        <h2>WiFi:</h2>
        <p><b>Note:</b> This is only intended to work if running on a Raspberry Pi with WiFi functionality (eg: <a href="https://www.raspberrypi.com/products/raspberry-pi-zero-2-w/">Raspberry Pi Zero 2 W</a>).</p>
        <p><a href="https://learn.sparkfun.com/tutorials/headless-raspberry-pi-setup/wifi-with-dhcp">How to change WiFi settings</a></p>
        <form action="/admin/update_wifi" method="post">
            <h3>
                <label for="SSID">SSID:</label>
                <input type="text" name="SSID" value="{{ ssid }}" readonly>
            </h3>
        </form>
    </div>
    -->
    <div class="admin-panel" id="subscribestar">
        <img class="header" src="/static/ss_logo_h.png" />
        <p>Client ID: {{ config.subscribestar.client_id }}</p>
        <p>OAuth Token: {{ config.subscribestar.auth_token.access_token }}</p>
        <a href="https://www.subscribestar.com/oauth2/authorize?client_id={{ config.subscribestar.client_id }}&redirect_uri=https%3A%2F%2F{{ config.server.domain }}%2Foauth%2Fsubscribestar&response_type=code&scope=content_provider_profile.read+content_provider_profile.subscriptions.read+user.read">
            Grant OAuth
        </a>
    </div>
    <div class="admin-panel" id="sql">
        <h2>SQL:</h2>
        <p class="warning">This can be dangerous! Only touch if you know what you're doing and made a backup of the database.</p>
        <form class="sql">
            <h4>Command:</h4>
            <textarea class="command"></textarea>
            <input type="submit" value="Run Command">
            <h4>Response:</h4>
            <textarea class="response" readonly></textarea>
        </form>
    </div>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
