<!DOCTYPE html>
<html>
<head>
<title>{{ config.gallery.name }}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/common.js"></script>
</head>
<body>
<div id="titlebar" class="home">
    {? if is_admin ?}
    <div>
      <h1 class="title">{{ config.gallery.name }}</h1>
      <h1 class="admin-notice">Admin Mode</h1>
    </div>
    {? else ?}
    <h1 class="title">{{ config.gallery.name }}</h1>
    {? end ?}
    <div class="top-links">
      {% for link in config.gallery.top_links %}<h2><a href="{{ link.link }}">{{ link.text }}</a></h2>{% end %}
    </div>
</div>
<div id="main-body">
<div id="front-query">
    <form action="/search" method="get" accept-charset="utf-8">
        <input type="text" name="q" id="search-bar" autocomplete="off"></input>
        <div class="autocomplete"></div>
        <input type="submit" value="Search" id="search-button"></input>
    </form>
</div>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
</html>