<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - #{{ item.gallery_item_id }}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script>
    const query = "{{ query.q }}";
</script>
<script src="/static/common.js"></script>
<script>
    const cookies = getCookies();
    $(async () => {
        buildTagList(`/api/gallery/tags?item={{ item.gallery_item_id }}`,
            tag => `<li>(<a href="/tag/${tag.tag}">?</a>/<a href="/search?q=${query}+-${tag.tag}">-</a>/<a href="/search?q=${query}+${tag.tag}">+</a>) <a class="tag-link" href="/search?q=${tag.tag}" tag="${tag.tag}" ${tag.color ? `style="color: ${tag.color}"` : ""}>${tag.tag}</a>: ${tag.count}</li>`
        );
    });
    $(async () => {
        var api_request_body = "";
        if (cookies.subscribestar_access_token != undefined)
        {
            api_request_body += `subscribestar_access_token=${cookies.subscribestar_access_token}`
        }
        const api_response = await (await fetch("/api/gallery/item/{{ item.gallery_item_id }}", {
            method: "POST",
            body: api_request_body
        })).json();
        if (api_response.visibility.censored == false)
        {
            return;
        }
        const platform_names = api_response.visibility.platforms.map(x => x.platform);
        if (platform_names.includes("SubscribeStar"))
        {
            if (cookies.subscribestar_access_token == undefined)
            {
                $(".platform-requirement").append(`<a href="https://www.subscribestar.com/oauth2/authorize?client_id={{ config.subscribestar.client_id }}&redirect_uri=https%3A%2F%2F{{ config.server.domain }}%2Foauth%2Fsubscribestar&response_type=code&scope=content_provider_profile.read+content_provider_profile.subscriptions.read+user.read"><h2>Connect to</h2><img src="/static/ss_logo_v.png" /></a>`);
            }
        }
    });
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
<aside id="sidebar">
    <section id="search">
        <form class="item-search" action="/search" method="get" accept-charset="utf-8">
            <input id="search-bar" type="text" name="q" value="{( query.q )}" autocomplete="off">
            <div class="autocomplete"></div>
            <input id="search-button" type="submit" value="Search">
        </form>
    </section>
    <div class="platform-requirement"></div>
    <div class="sidebar-header">
        <h3>Tags</h3>
    </div>
    <ul class="tag-list">
    </ul>
</aside>
<section id="content">
    <div id="item-contents">
        <div class="imgbox">
            <a href="/item/{{ item.gallery_item_id }}/large">
                <img src="/item/{{ item.gallery_item_id }}/small" />
            </a>
        </div>
    </div>
    <div id="item-info">
        <h3 id="item-name">{{ item.name }}</h3>
        {? if can_edit ?}
        <form action="/item/{{ item.gallery_item_id }}/edit" method="get" accept-charset="utf-8">
            <input type="submit" value="Edit" />
        </form>
        {? end ?}
        <hr />
        <p id="item-description">
            {? if item.description ?}
            {{ item.description }}
            {? else ?}
            <i class="missing">No description...</i>
            {? end ?}
        </p>
    </div>
</section>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
