<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - #{{ item.gallery_item_id }}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    window.onload = (async () => {
        $(".tag-link").each(function (i) {
            const text = $(this).text();
            if (text.length > 20)
            {
                $(this).text(text.substring(0, 17) + "...");
            }
        });
    });
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
<aside id="sidebar">
    <section id="search">
        <form action="/search" method="get" accept-charset="utf-8">
            <input id="search-bar" type="text" name="q" value="{( query.q )}">
            <br>
            <input id="search-button" type="submit" value="Search">
        </form>
    </section>
    <div class="sidebar-header">
        <h3>Tags</h3>
        {? if can_edit ?}
        <form action="/item/{{ item.gallery_item_id }}/edit" method="get" accept-charset="utf-8">
            <input type="submit" value="Edit" />
        </form>
        {? end ?}
    </div>
    <ul id="tag-list">
        {% for tag in tags %}
        <li>(<a href="/search?q={{ query.q }}+-{{ tag.tag }}">-</a>/<a href="/search?q={{ query.q }}+{{ tag.tag }}">+</a>) <a class="tag-link" href="/search?q={{ tag.tag }}">{{ tag.tag }}</a>: {{ tag.count }}</li>
        {% end %}
    </ul>
</aside>
<section id="content">
    <div id="item-contents">
        <div class="imgbox">
            <a href="/item/{{ item.gallery_item_id }}/large">
                <img src="/item/{{ item.gallery_item_id }}/small" />
            </a>
        </div>
    </div>
    <div id="item-info">
        <h3 id="item-name">{{ item.name }}</h3>
        <hr />
        <p id="item-description">{{ item.description }}</p>
    </div>
</section>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
