<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - #{{ item.gallery_item_id }}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    window.onload = (async () => {
        updateSearchBar();
        const response = await fetch("/api/gallery/search?q=" + urlParams.get("q").replace(" ", "+"));
        const items = (await response.json()).r;
        console.log("items:", items);
        const contents = $("#search-contents");
        if (items === undefined)
        {
            contents.append("<strong id=\"error\">Failed to perform search! Please contact site owner or try again later.</strong>");
            return;
        }
        for (const item of items)
        {
            contents.append(`<div id="item"><img src="/item/${item.gallery_item_id}/thumb" /></div>`);
        }
    });
</script>
</head>
<body>
<h1 id="small-title">{{ config.gallery.name }} <a href="/">Home</a></h1>
<div id="main-body">
<aside id="sidebar">
    <section id="search">
        <form action="/search" method="get" accept-charset="utf-8">
            <input id="search-bar" type="text" name="q" value="{( query.q )}">
            <br>
            <input id="search-button" type="submit" value="Search">
        </form>
    </section>
    <h3 class="sidebar-header">Tags:</h3>
    <ul id="tag-list">
        {% for tag in tags %}
        <li>(<a href="/search?q={{ query.q }}+-{{ tag.tag }}">-</a>/<a href="/search?q={{ query.q }}+{{ tag.tag }}">+</a>) <a href="/search?q={{ tag.tag }}">{{ tag.tag }}</a>: {{ tag.count }}</li>
        {% end %}
    </ul>
</aside>
<section id="item-contents">
    <div class="imgbox">
    <a href="/item/{{ item.gallery_item_id }}/large">
        <img src="/item/{{ item.gallery_item_id }}/small" />
    </a>
    </div>
</section>
</div>
</body>
