<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - OAuth ({{ platform }})</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script>
    const query = "{{ query.q }}";
</script>
<script src="/static/common.js"></script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
<section id="content">
    <div class="oauth-results-container">
        <div id="oauth-results">
            <h2>OAuth Result - {{ platform }}</h2>
            <hr />
            <p>
            {? if error ?}
                Failed: {{ error }}
            {? else ?}
                Success!
            {? end ?}
            </p>
            <p><a href="/">Return to Gallery</a></p>
            {? if is_admin ?}
            <p><a href="/admin">Return to Admin Panel</a></p>
            {? end ?}
        </div>
    </div>
</section>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
