<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - Search</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script>
    const query = "{{ query.q }}";
</script>
<script src="/static/common.js"></script>
<script>
    $(async () => {
        const search_results = $("#search-results");
        fetch(`/api/gallery/search?q=${query}`)
            .then(async response => {
                const json = await response.json();
                const page_count = Math.ceil(json.item_count / 50);
                if (json.items === undefined)
                {
                    search_results.append("<strong id=\"error\">Failed to perform search! Please contact site owner or try again later.</strong>");
                    return;
                }
                for (const item of Object.values(json.items))
                {
                    search_results.append(`<div class="item"><a href="${item.uri}?q={{ query.q }}"><img src="${item.resolutions.thumb}"/></a></div>`);
                }
                const page_links = $("#search-page-links");
                const page_re = /page:[0-9]+/g;
                const pageless_query = query.replace(page_re, "");
                const page_match = query.match(page_re);
                const current_page = (!page_match || page_match.length === 0) ? 1 : parseInt(page_match[page_match.length - 1].substring(5));
                const max_page_links = 11;
                const first_generated_page_link = current_page - ((max_page_links - 1) / 2 - 1);
                const last_generated_page_link = current_page + ((max_page_links - 1) / 2 - 1);
                function makePageQuery(page) {
                    return (pageless_query + `+page:${page}`).replace(/^\++|\++$|/g, "").replace(/\+\++/g, "+");
                }
                if (first_generated_page_link > 1)
                {
                    page_links.append(`<a href=/search?q=${makePageQuery(1)}>1</a>`);
                    if (first_generated_page_link > 2)
                    {
                        page_links.append("&lt;=");
                    }
                }
                for (var page = Math.max(1, first_generated_page_link); page < current_page; ++page)
                {
                    page_links.append(`<a href=/search?q=${makePageQuery(page)}>${page}</a>`);
                }
                page_links.append(`<b>${current_page}</b>`);
                for (var page = current_page + 1; page <= Math.min(last_generated_page_link, page_count); ++page)
                {
                    page_links.append(`<a href=/search?q=${makePageQuery(page)}>${page}</a>`);
                }
                if (last_generated_page_link < page_count)
                {
                    if (last_generated_page_link < page_count - 1)
                    {
                        page_links.append("=&gt;");
                    }
                    page_links.append(`<a href=/search?q=${makePageQuery(page)}>${page_count}</a>`);
                }
            }),
        /*{? if config.gallery.recommended_tags.length ?}*/
        /*{? else ?}*/
        buildTagList(
            "/api/gallery/tags" + (query ? `?q=${query}` + tag_count ? `&count=${tag_count}` : "" : ""),
            tag => `<li>(<a href="/tag/${tag.tag}">?</a>/<a href="/search?q=${query}+-${tag.tag}">-</a>/<a href="/search?q=${query}+${tag.tag}">+</a>) <a class="tag-link" href="/search?q=${tag.tag}" tag="${tag.tag}">${tag.tag}</a>: ${tag.count}</li>`
        )
        /*{? end ?}*/
    });
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
<aside id="sidebar">
    <section id="search">
        <form class="item-search" action="/search" method="get" accept-charset="utf-8">
            <input id="search-bar" type="text" name="q" value="{( query.q )}" autocomplete="off">
            <div class="autocomplete"></div>
            <input id="search-button" type="submit" value="Search">
        </form>
    </section>
    <h3 class="sidebar-header">Tags:</h3>
    <ul class="tag-list">
        {% for tag in config.gallery.recommended_tags %}
        <li>(<a href="/search?q={{ query.q }}+-{{ tag.tag }}">-</a>/<a href="/search?q={{ query.q }}+{{ tag.tag }}">+</a>) <a class="tag-link" href="/search?q={{ tag.tag }}">{{ tag.tag }}</a>: {{ tag.count }}</li>
        {% end %}
    </ul>
</aside>
<section id="content">
    <div class="search-results-container">
        <div id="search-results">
        </div>
    </div>
    <div id="post-search-contents">
        <div id="search-page-links">
        </div>
    </div>
</section>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
