<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - Tag: {{ tag.tag }}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/common.js"></script>
<script>
    $(async () => {
        buildTagList("/api/gallery/tags?q={{ tag.tag }}",
            tag => `<li><a class="tag-link" href="/tag/${tag.tag}" tag="${tag.tag}">${tag.tag}</a>: ${tag.count}</li>`
        );
    });
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
<aside id="sidebar">
    <section id="search">
        <form class="tag-search" method="get" accept-charset="utf-8">
            <input id="search-bar" type="text" value="" autocomplete="off">
            <div class="autocomplete"></div>
            <input id="search-button" type="submit" value="Show Tag">
        </form>
    </section>
    <div class="sidebar-header">
        <h3>Related Tags</h3>
    </div>
    <ul class="tag-list">
    </ul>
</aside>
<section id="content">
    <div id="tag-info">
        <h2 id="tag-name">Tag: {{ tag.tag }}</h3>
        {? if can_edit ?}
        <form action="/tag/{{ tag.tag }}/edit" method="get" accept-charset="utf-8">
            <input type="submit" value="Edit" />
        </form>
        {? end ?}
        <hr />
        <h3 id="tag-category">
            Category:
            {? if tag.category ?}
            <a href="/tags/category/{{ tag.category }}" style="color: {{ tag.color }}">{{ tag.category }}</a>
            {? else ?}
            <i class="missing">None</i>
            {? end ?}
        </h3>
        <p id="tag-description">
            {? if tag.description ?}
            {{ tag.description }}
            {? else ?}
            <i class="missing">No description...</i>
            {? end ?}
        </p>
    </div>
</section>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
