<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - Editing Tag {{ item.gallery_item_id }}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/common.js"></script>
<script>
    var tag_changes = {to_remove: {}, to_add: {}};
    $(async () => {
        $("input[type=checkbox]").prop("checked", false);
        const new_tag_list = $("#tag-list.new-tags");
        const new_tag_name = $("input.new-tag-name");
        new_tag_name.prop("value", "");
        const tag_category = $("select.tag-category");
        function updateSelectedColor() {
            tag_category.css("color", tag_category.find(":selected").css("color"));
        }
        buildAPIList("select.tag-category", "/api/gallery/tags/categories?count=1000", json => json.categories, category => `<option category-id="${category.id}" style="color: ${category.color ? category.color : "#000"}">${category.category}</option>`)
            .then(() => {
                const default_option = tag_category.find("option[category-id={{ tag.tag_category_id }}]");
                tag_category.prop("selectedIndex", default_option.length == 0 ? 0 : default_option.index());
            })
            .then(updateSelectedColor);
        tag_category.on("change", updateSelectedColor);
        $("form.submit-changes").submit(function(event) {
            event.preventDefault();
            var url = new URL(window.location.href);
            const new_name = formatAsTag($("input.name").prop("value"));
            const bad_matches = getInvalidCharactersInTag(new_name);
            if (bad_matches.length > 0)
            {
                const error_msg = $(this).find(".error");
                error_msg.text(getErrorMessageForInvalidCharacters(bad_matches));
                error_msg.append("<br />");
                return;
            }
            const params = {name: new_name, description: $("textarea.description").prop("value"), category: $("select.tag-category :selected").attr("category-id")};
            url.search = "submitting&" + Object.keys(params).map(k => `${encodeURIComponent(k)}=${encodeURIComponent(params[k])}`).join("&");
            window.location.href = url.toString();
            console.log({url});
        });
    });

    function toggleAdd(tag) {
        console.log(tag_changes.to_add[tag] ? "Unmarking": "Marking", "tag for add:", tag);
        tag_changes.to_add[tag] = !tag_changes.to_add[tag];
    }
    function toggleRemoval(tag) {
        console.log(tag_changes.to_remove[tag] ? "Unmarking": "Marking", "tag for removal:", tag);
        tag_changes.to_remove[tag] = !tag_changes.to_remove[tag];
    }
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
    <div class="edit-tag-info">
        <form class="submit-changes">
            <b class="error"></b>
            <div class="form-field">Name:</div><input class="name" type="text" name="name" value="{{ tag.tag }}"><br />
            <div class="form-field">Description:</div><textarea class="description" name="description" rows="5">{{ tag.description }}</textarea><br />
            <div class="form-field">Category:</div><select class="tag-category" name="category">
                <option category-id="0" style="color: #999">No category</option>
            </select><br />
            <input class="button" type="submit" value="Update Tag">
        </form>
    </div>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
