<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - Editing Tag Category {{ category.category }}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/common.js"></script>
<script>
    $(async () => {
        const url_params = new URLSearchParams(window.location.search);
        if (url_params.has("error"))
        {
            $(".error").text(decodeURIComponent(url_params.get("error")));
        }
        if (url_params.has("name"))
        {
            $(".name").val(decodeURIComponent(url_params.get("name")));
        }
        if (url_params.has("description"))
        {
            $(".description").text(decodeURIComponent(url_params.get("description")));
        }
        if (url_params.has("color"))
        {
            $(".color").text(decodeURIComponent(url_params.get("color")));
        }
        $("form.submit-changes").submit(function(event) {
            event.preventDefault();
            var url = new URL(window.location.href);
            const new_name = formatAsTag($("input.name").prop("value"));
            const bad_matches = getInvalidCharactersInTag(new_name);
            if (bad_matches.length > 0)
            {
                const error_msg = $(this).find(".error");
                error_msg.text(getErrorMessageForInvalidCharacters(bad_matches));
                error_msg.append("<br />");
                return;
            }
            const params = {name: new_name, description: $("textarea.description").prop("value"), color: $("input.color").val()};
            url.search = "submitting&" + Object.keys(params).map(k => `${encodeURIComponent(k)}=${encodeURIComponent(params[k])}`).join("&");
            window.location.href = url.toString();
            console.log({url});
        });
        const color_picker = $("input.color");
        const clear_color_button = $("button.clear-color");
        const color_text = $("p.color");
        color_picker.on("change", () => color_text.html(color_picker.val()));
        color_picker.on("click", () => {
            color_text.html(color_picker.val());
            if (color_picker.val() === "#000000")
            {
                color_picker.val("#888888");
            }
        });
        clear_color_button.on("click", event => {
            event.preventDefault();
            color_picker.val(0);
            color_text.html("<i class=\"missing\">None</i>");
        });
    });
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
    <div class="edit-tag-category-info">
        <h2>Editing Tag Category: {{ category.category }}</h2>
        <form class="submit-changes">
            <b class="error"></b>
            <div class="form-field">Name:</div><input class="name" type="text" name="name" value="{{ category.category }}"><br />
            <div class="form-field">Description:</div><textarea class="description" name="description" rows="5">{? if category.description ?}{{ category.description }}{? end ?}</textarea><br />
            <div class="form-field">Color:</div><div class="color-picker">
                <input class="color" type="color" name="color" value="{? if category.color ?}{{ category.color }}{? end ?}"><button class="clear-color">Clear</button>
                <p class="color">
                    {? if category.color ?}
                    {{ category.color }}
                    {? else ?}
                    <i class="missing">None</i>
                    {? end ?}
                </p>
            </div><br />
            <input class="button" type="submit" value="Update Category">
        </form>
    </div>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
