<!DOCTYPE html>
<head>
<title>{{ config.gallery.name }} - Tags</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script src="/static/jquery-3.7.1.min.js"></script>
<script>
    const query = "{{ query.q }}";
</script>
<script src="/static/common.js"></script>
<script>
    $(async () => {
        Promise.all([
            buildTagList(`/api/gallery/tags?q=${query}`,
                tag => `<li><a class="tag-link" href="/tag/${tag.tag}" tag="${tag.tag}">${tag.tag}</a>: ${tag.count}</li>`
            ),
            buildAPIList(".category-list", "/api/gallery/tags/categories", json => json.categories,
                category => `<li><a class="category-link" href="/tags/category/${category.category}">${category.category}</a>: ${category.count}</li>`
            ),
        ]);
    });
</script>
</head>
<body>
{# templates/titlebar.html #}
<div id="main-body">
<div class="horizontal-stack">
    <div id="tag-list-section">
        <h2 class="list-header">Tags</h2>
        <form class="tag-search" method="get" accept-charset="utf-8">
            <input id="search-bar" type="text" value="" autocomplete="off">
            <div class="autocomplete"></div>
            <input id="search-button" type="submit" value="Show Tag">
        </form>
        <ul class="tag-list">
        </ul>
    </div>
    <div id="category-list-section">
        <h2 class="list-header">Categories</h2>
        <form class="category-search" method="get" accept-charset="utf-8">
            <input id="search-bar" type="text" value="" autocomplete="off">
            <div class="autocomplete"></div>
            <input id="search-button" type="submit" value="Show Category">
        </form>
        <ul class="category-list">
        </ul>
    </div>
</div>
</div>
<footer>
    {# templates/footer_content.html #}
</footer>
</body>
